<!--Materialize Navbar-->
<nav>
  <div class="nav-wrapper green">
    <a href="" class="brand-logo"><i class="material-icons">healing</i>Sedes Vacunación COVID-19</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="admin/authorization">BackO user (Proyecto)</a></li>
      <li><a href="sede">Back office COVID-19</a></li>
      <li><a href="#"><i class="material-icons">question_answer</i></a></li>
    </ul>
  </div>
</nav>

<!--Routing-->
<router-outlet></router-outlet>

<!--Materialize Footer-->
<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Vacunación COVID-19</h5>
        <p class="grey-text text-lighten-4">¡Un espacio seguro!</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">¿Que hacemos?</h5>
        <ul>
          <li><a class="white-text" href="#!">Blog</a></li>
          <li><a class="white-text" href="#!">Preguntas</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Apoyo</h5>
        <ul>
          <li><a class="white-text" href="#!">Sobre Nosotros</a></li>
          <li><a class="white-text" href="#!">Comentarios</a></li>
          <li><a class="white-text" href="#!">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Sedes Vacunación COVID-19
      <a class="grey-text text-lighten-4 right" href="#!">Support</a>
    </div>
  </div>
</footer>