<!--Materialize Navbar-->
<nav>
  <div class="nav-wrapper black">
    <a href="" class="brand-logo"><i class="material-icons">near_me</i>SmartStock</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="premium">Premium</a></li>
      <li><a href="user/signup">Sign up</a></li>
      <li><a href="user/login">Log in</a></li>
      <li><a href="admin/authorization">Back office</a></li>
      <li><a href="#"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</nav>

<!--Routing-->
<router-outlet></router-outlet>

<!--Materialize Footer-->
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SmartStock</h5>
        <p class="grey-text text-lighten-4">Keep & make money!</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Product</h5>
        <ul>
          <li><a class="white-text" href="https://eag1eetac.wordpress.com/">Blog</a></li>
          <li><a class="white-text" href="#!">FAQ</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Company</h5>
        <ul>
          <li><a class="white-text" href="#!">About Us</a></li>
          <li><a class="white-text" href="#!">Reviews</a></li>
          <li><a class="white-text" href="#!">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 SmartStock
      <a class="grey-text text-lighten-4 right" href="#!">Support</a>
    </div>
  </div>
</footer>