<div class="container">
    <div class="row">
        <!--all form-->
        <form #formLogin="ngForm" (ngSubmit)="onRegister()" class="col s12">

            <h2>Sign up</h2>

            <!--email param-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" [(ngModel)]="userService.selectedUser.email" required>
                    <label for="email">Email</label>
                </div>
            </div>

            <!--username param-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" [(ngModel)]="userService.selectedUser.username" required>
                    <label for="username">Username</label>
                </div>
            </div>

            <!--password param-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" [(ngModel)]="userService.selectedUser.password" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <!--repeat password param-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="repeatpassword" type="password" class="validate" [(ngModel)]="userService.selectedUser.password" required>
                    <label for="repeatpassword">Please, repeat the Password</label>
                </div>
            </div>

            <!--submit button-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>

            <!--register via google & facebook-->
            <p><a href="" class="btn btn-block btn-outline-info">Sign up via Google</a></p>
            <p><a href="" class="btn btn-block btn-outline-primary">Sign up via Facebook</a></p>
        </form>
    </div>
</div>