<div class="container">
    <div class="row">
        <!--all form-->
        <form #formLogin="ngForm" (ngSubmit)="onLogin()" class="col s12">

            <h2>Log In</h2>

            <!--email param-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" [(ngModel)]="authService.user.email" required>
                    <label for="email">Email</label>
                </div>
            </div>

            <!--password param-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" [(ngModel)]="authService.user.password" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <!--submit button-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <p class="text-center"><a href="#" class="form control login-user">Forgot password?</a></p>
            
            <!--signup reminder-->
            <p class="text-center"><a href="/user/signup" class="form control login-user">You don't have an account?</a></p>

            <!--login via google & facebook-->
            <p><a href="" class="btn btn-block btn-outline-info">Login via Google</a></p>
            <p><a href="" class="btn btn-block btn-outline-primary">Login via Facebook</a></p>
        </form>
    </div>
</div>