<div class="container">
    <div class="row">

        <!--main form-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body p-4">

                    <!--when we send the form we give the userForm (all inputs & outputs)-->
                    <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                        <!--user id-->
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
                        
                        <div class="form-group">
                            <div class="input-field col s12">
                                <input type="text" name="username" #username="ngModel" 
                                [(ngModel)]="userService.selectedUser.username" 
                                placeholder="Enter your username" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-field col s12">
                                <input type="text" name="email" #email="ngModel" 
                                [(ngModel)]="userService.selectedUser.email" 
                                placeholder="Enter your email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-field col s12">
                                <input type="text" name="password" #password="ngModel" 
                                [(ngModel)]="userService.selectedUser.password" 
                                placeholder="Enter your password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-field col s12">
                                <input type="text" name="role" #role="ngModel" 
                                [(ngModel)]="userService.selectedUser.role" 
                                placeholder="Enter your role" class="form-control">
                            </div>
                        </div>

                        <!--main buttons-->
                        <button class="btn btn-primary mr-2" (click)="resetForm(userForm)">Clean</button>
                        <button class="btn btn-secondary">Save</button>
                    </form>
                </div>
            </div>
        </div>

        <!--in this part we will see all users in the system-->
        <div class="col-md-8">
            <table class="table table-stripped">
                <thead>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Role</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userService.users">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a (click)="updateUser(user)" class="btn btn-secondary btn-sm"><i class="material-icons">edit</i></a>
                            <a (click)="deleteUser(user._id, userForm)" class="btn btn-danger btn-sm"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
